
	<!-- Menu -->
	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
   		            {{ menu(template = 'partials/_submenu.twig') }}
				</ul>

				<!-- Menu Social -->
				
				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item"><a href="#"><i class="fab fa-youtube"></i></a></li>
						<li class="menu_social_item"><a href="https://instagram.com/sapienskacademy"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="https://www.facebook.com/SapiensKAcademy"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="https://twitter.com/sapienskacademy"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">Copyright &copy;<script>document.write(new Date().getFullYear());</script>
					Sapiens Knowledge Academy C.A. Desarrollado por
					<a href="http://www.origamiwebsolutions.com"  target="_blank">Origami Web Solutions</a>
				</div>
			</div>

		</div>

	</div>