{% extends 'partials/_consulta.twig' %}

{% setcontent record = 'blocks/404-not-found' %}

{% block main %}

    <div class="services page_section" name="servicios" id="servicios">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Datos no encontrados</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock main %}
 

 